<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
  <property name="log_home" value="log/apps" />
  <property name="git.group" value="org.yugh.coral"/>
  <property name="project.name" value="goods-stock"/>

  <!-- 控制台输出 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%level] ${git.group}/${project.name} %logger{36} - %X{traceId}-%X{spanId} %msg%n</pattern>
    </encoder>
  </appender>

  <!-- 按照每天生成日志文件 -->
  <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--日志文件输出的文件名-->
      <FileNamePattern>${log_home}/${git.group}_${project.name}-%d{yyyy-MM-dd}.log</FileNamePattern>
      <!--日志文件保留天数-->
      <MaxHistory>7</MaxHistory>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%level] ${git.group}/${project.name} %logger{36} - %X{traceId}-%X{spanId} %msg%n</pattern>
    </encoder>
    <!--日志文件最大的大小-->
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <logger name="org.springframework" level="INFO"/>
  <logger name="org.hibernate" level="INFO"/>
  <logger name="org.mybatis" level="INFO"/>

  <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
  <springProfile name="dev,test">
    <!-- 日志输出级别 -->
    <root level="INFO">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="FILE" />
    </root>
  </springProfile>

  <!-- 生产环境. -->
  <springProfile name="pro">
    <!-- 日志输出级别 -->
    <root level="INFO">
      <appender-ref ref="FILE" />
    </root>
  </springProfile>


</configuration>