<configuration scan="true" scanPeriod="300 seconds">
    <property name="DISCOVERY_LOG_DIR" value="/Users/yuzhilin/logs/plugin-client"/>
    <property name="DISCOVERY_LOG_NAME" value="plugin-client"/>
    <property name="DISCOVERY_WARN_LOG_NAME" value="plugin-client-warning"/>
    <property name="DISCOVERY_ERROR_LOG_NAME" value="plugin-client-error"/>


    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d [%thread] [%X{Request-Id}] %-5level %logger{36} [%line] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>