<configuration scan="true" scanPeriod="300 seconds">
    <property name="CLIENT_LOG_DIR" value="logs/client"/>
    <property name="CLIENT_LOG_NAME" value="client"/>


    <!-- console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d [%thread] [%X{Request-Id}] %-5level %logger{36} [%line] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>